<?php
$primary_color = 'black';
$secondary_color = '#eee';
$tertiary_color = 'red';
?>

/*
 * General Rules
 */

html, body {
	height:100%;
}

.spacer {  
	margin-top: 40px; 
}

.managed-tabs li {
	display:inline-block;
	padding:10px;
}

.managed-tabs-active-tab {
	background-color:black;
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
}

/*
 * Header bar Rules
 */
.dropdown-menu li a {
	text-align:center;
}

.navbar-header a {
	margin:auto !important;
	color:<?=$tertiary_color?> !important; 
}

.active-nav, .active-nav a {
	color:<?=$tertiary_color?> !important; 
}

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin-bottom: -60px;
	/* Pad bottom by footer height */
	padding-bottom: 60px;
}

#footer {
	padding-top:20px;
	background-color:<?=$secondary_color?>; 
	height: 60px;
}

img.centered {
	margin:auto;
}

.jumbotron, .row, .navbar {
	margin-bottom:0px !important;
}

.container-fluid {
	margin-top:0px !important;
}
