<?php
	$primary_color = 'black';
	$secondary_color = '#eee';
	$tertiary_color = '#8E4A49';
?>

/**
 * #1 HTML Resets
 * #2 Launchsite Rules
 * #3 Header Box Rules
 * #4 Content Box Rules
 * #5 Footer Box Rules
 * #6 General Rules
 */

/**
 * #1 HTML Resets
 */
html, body {
	height:100%;
}

/**
 * #2 Launchsite Rules
 */
/* Layout */
.content-wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin-bottom: -60px;
	/* Pad bottom by footer height */
	padding-bottom: 60px;
}

.footer-push {
	padding-top:20px;
	height: 60px;
}

.spacer {  
	margin-top: 20px; 
	margin-bottom: 20px; 
}

.double-spacer {  
	margin-top: 40px; 
	margin-bottom: 40px; 
}

/* Styling */
.text-inverse {
	color:#FFFFFF;
	background-color:#000000;
}

/* Managed Tabs */
.managed-tabs li {
	display:inline-block;
	padding:10px;
}

.managed-tabs-active-tab {
	background-color:black;
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
}

/**
 * #3 Header Box Rules
 */
.site-header a {
	color:#FFFFFF !important;
	background-color: #000000 !important;
}

.navbar-nav.list-group {
	margin-bottom:0px;
	margin-top:20px;
}

.navbar-nav a {
	color:#FFFFFF;
}

.navbar-nav a:hover {
	color:<?=$tertiary_color?> !important; 
	text-decoration:none;	
}

.navbar-header a {
	margin:auto !important;
	color:<?=$tertiary_color?> !important; 
}

.active-nav, .active-nav a {
	color:<?=$tertiary_color?> !important; 
	background-color: #FFFFFF;
}

/**
 * #4 Content Box Rules
 */
#content-box {
	margin-top:30px;
}

.jumbotron, .row, .navbar {
	margin-bottom:0px !important;
}

/**
 * #5 Footer Box Rules
 */
#footer-box {
	background-color:<?=$secondary_color?>; 
}

/**
 * #6 General Rules
 */
.dropdown-menu li a {
	text-align:center;
}

img.centered {
	margin:auto;
}

.container-fluid {
	margin-top:0px !important;
	height:100%;
}
